/* Champions.module.css */

.container {
  height: 100vh; /* Ocupa toda la altura de la ventana del navegador */
  overflow-y: scroll; /* Permitir desplazamiento vertical */
  padding: 20px;
  box-sizing: border-box;
  scrollbar-width: none; /* Para Firefox */
  -ms-overflow-style: none; /* Para Internet Explorer y Edge */
}

.container::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari y Opera */
}

.searchBar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 16px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre los elementos de la cuadrícula */
  justify-content: space-between;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: calc(25% - 20px); /* Ajuste flexible para la cuadrícula, cuatro elementos por fila */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transform: scale(1.05);
}

.image {
  max-width: 100%;
  border-radius: 4px;
}

.link {
  text-decoration: none;
  color: #0070f3;
  margin-top: auto; /* Empuja el enlace hacia abajo */
}

.link:hover {
  text-decoration: underline;
}
